@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");



.profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  // padding-bottom: 100px;
  margin-top: -10px;
  // margin-top: -1%;
  // background-color: #12c2e9; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to bottom,
  //   #f64f59,
  //   #c471ed,
  //   #12c2e9
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to bottom,
  //   #f64f59,
  //   #c471ed,
  //   #12c2e9
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #49018C; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #49018C,
    #2F80ED
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #49018C,
    #2F80ED
  );

}

.text-holder {
  display: flex;
  width: 400px;
  text-align: center;
  margin-bottom: 50px;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: large;
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 20px;
  }
}  

#top_svg {
  margin-top:  -40px;
  padding-top: -10px;
  z-index: -1;
}