@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');

.profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: -10px;
  background: -webkit-linear-gradient(
    to bottom,
    #49018c,
    #2f80ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #49018c, #2f80ed);
}

.text-holder {
  display: flex;
  width: 400px;
  text-align: center;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: large;
  letter-spacing: 3px;

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 20px;
  }
}

#top_svg {
  margin-top: -40px;
  padding-top: -10px;
  z-index: -1;
  @media only screen and (max-width: 600px) {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.name {
  text-shadow: 2px 2px #ab69ba;
  font-weight: bold;
}

.about_me_holder {
  width: 50%;
  height: 100%;
  position: relative;
  margin-top: 0px;
  margin-right: 50px;
  margin-bottom: 0px;
  margin-left: 0px;
  ///fix width between 1215px
  @media only screen and (min-width: 600px) { 
    width: 30%;
    font-size: 22px;
  }
}
.little_profile {
  font-family: 'Solitreo', cursive;
  width: 100%;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ad51ce;
  border-radius: 5px;
  padding: 25px;
  color: white;
  word-wrap: break-word;
  margin-top: 10px;
  text-align: justify;
  span {
    opacity: 1;
  }
  @media screen and (max-width: 1216px) {
    font-size: 19px;
  }
  @media screen and (max-width: 894px) {
    font-size: 16px;
  }
  @media screen and (max-width: 616px) {
    font-size: 14px;
  }
}
.underlay {
  width: 100%;
  height: 330px;
  z-index: -1;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: pink;
  border: solid 2px black;
  padding: 25px;
  border-radius: 5px;

}
#text_rest {
  margin-top: 10px;
}