@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");



.profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 100px;
  margin-top: 7%;
  background-color: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  p {
      color: black;
      font-size: 20px;
  }
}

.profile_circle {
  border-radius: 50%;
  height: 200px;
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 9;
    position: absolute;
    margin-top: 5%;
  }
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 0;
  margin-right: 20%;
}

.text-holder {
  width: 400px;
  text-align: center;
  margin-bottom: 50px;
}  
.profile-button-scroll {
  padding: 20px;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: $sailorblue;
  font-size: 20px;
  color: black;
}
.top_wave {
  margin-top: 0%;
  padding-bottom: 20px;
  z-index: -1;
  position: absolute;
}