@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');


.background_layout {
  height: 100vh;
  position: absolute;
  padding-top: 30%;
}
.layout_aboutme {
  margin: 0;
  position: relative;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #13C1E9, #2F80ED );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #13C1E9, #2F80ED ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #56CCF2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #13C1E9, #2F80ED );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #13C1E9, #2F80ED ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.padding_between_pages {
  margin-top: 10%;
}
.exact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width:960px) { 
    flex-direction: column;
  }
}

.text_container {
  border-radius: 20%;
  width: 400px;
  height: 600px;
  background-color: $sailorblue;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  p {
    border-radius: 20%;
    width: 280px;
    height: 590px;
    padding: 20px 20px 10px 40px;
    margin-left: 20px;
    margin-top: 40px;
  }
  @media (max-width:960px) { 
    margin-top: 10px;
  }
}

.picture_container {
  border-radius: 20%;
  width: 400px;
  height: 600px;
  background-color: $sailorblue;
  margin-right: 10px;
  img {
    object-fit: cover;
    border-radius: 20%;
    width: 400px;
    height: 600px;
  }
}
.section_title--aboutMe {
  font-size: 40px;
  margin: 20px 0 20px 0;
  border-bottom: 2px solid white;
  align-self: center;
  text-align: center;
}
