@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

.background_layout {
  height: 100vh;
  position: absolute;
  padding-top: 30%;
}
.layout_aboutme {
  margin: 0;
  position: relative;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #13c1e9,
    #2f80ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #13c1e9,
    #2f80ed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #13c1e9,
    #2f80ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #13c1e9,
    #2f80ed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.padding_between_pages {
  margin-top: 10%;
}
.exact_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text_container {
  width: 250px;
  height: 300px;
  border-radius: 50px;
  background-color: $sailorblue;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  color: black;
  display: flex;
  align-items: center;
  @media (max-width: 960px) {
    margin-top: 10px;
  }
  @media only screen and (min-width: 801px) {
    width: 300px;
    height: 500px;
  }
}

.picture_container {
  border-radius: 50px;
  background-color: $sailorblue;
  margin-right: 10px;
  img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;
  }
  @media only screen and (min-width: 801px) {
    width: 300px;
    height: 500px;
    img {
      width: 300px;
      height: 500px;
    }
  }
}
.section_title--aboutMe {
  font-size: 40px;
  margin: 20px 0 20px 0;
  border-bottom: 2px solid white;
  align-self: center;
  text-align: center;
}
.text_itself {
  padding: 40px;
}
