@import "../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
button {
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  background-color: $limegreen;
}

a {
  color: black;
  font-family: "Source Sans Pro", sans-serif;
}


.button-component {
  button {
    padding: 20px;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: $pastelyellow;
    font-size: 16px;
    font-weight: bold;
    color: $trunkbrown;
  }
}

.menu-container {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  top: 10px;
  z-index: 5;
  ul {
    list-style: none;
  }
  li {
    font-size: 20px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    margin-right: 10px;
    color: white;
    display: inline;
    cursor:pointer;
  }
}

img {
  width: 300px;
  height: 300px;
}

.parent_square {
  height: 210px;
  width: 315px;
  margin: 10px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  position: relative;
}
.parent_square:hover .overlay{
  height: 100%;
}
.sliding_text {
  color:black;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FAF8F6;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  font-family: "Source Sans Pro", sans-serif;
}

.square {
  height: 200px;
  width: 305px;
}

.company {
  font-size: 20px;
  font-weight: bold;
}

.tag {
  max-width: 100px;
  font-size: 15px;
  min-height: 10px;
  background-color: #153A91;
  border: 1px solid black;
  margin: 2px;
  color: #FAF8F6;
  font-family: "Source Sans Pro", sans-serif;
}
.details_holder {
  display: flex;
  justify-content: center;
}
.tile_parent {
  display: flex;
  align-self: baseline;
  width: 100%;
}
.tile_text_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 10px 20px 30px 40px;
}
.tile_img_container {
  padding-bottom: 10px;
  padding-right: 20px;
  float: right;
}