@import "../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
button {
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  background-color: $limegreen;
}

#navbar {
  float: right;
}

a {
  font-family: "Source Sans Pro", sans-serif;
}

.button-component {
  button {
    padding: 20px;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: $pastelyellow;
    font-size: 16px;
    font-weight: bold;
    color: $trunkbrown;
  }
}

.menu-container {
  position: -webkit-sticky;
  transition: 0.5s ease;
  position: sticky;
  margin: 0;
  left: 0;
  top: 0;
  padding-top: 1px;
  display: flex;
  z-index: 5;
  color: black;
  background-color: white;
  ul {
    list-style: none;
    transition: 1.5s ease;
  }
  li {
    transition: 0.5s ease;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    display: inline;
    cursor: pointer;
  }
}
img {
  width: 300px;
  height: 300px;
}

.parent_square {
  height: 210px;
  width: 315px;
  margin: 10px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.parent_square:hover .overlay {
  height: 100%;
}
.sliding_text {
  color: black;
  opacity: 1;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #faf8f6;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  font-family: "Source Sans Pro", sans-serif;
}

.square {
  height: 200px;
  width: 305px;
}

.tag {
  max-width: 100px;
  font-size: 15px;
  min-height: 10px;
  background-color: #153a91;
  border: 1px solid black;
  margin: 2px;
  color: #faf8f6;
  font-family: "Source Sans Pro", sans-serif;
}
.details_holder {
  display: flex;
  justify-content: center;
}
//// TILE
.company {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5%;
  text-align: center;
}
.tile_education_holder {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  text-align: center;
}
.tile_description_holder {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  letter-spacing: 0.5px;
}
.img_holder {
  padding-bottom: 10px;
}
.job_title {
  font-size: large;
  letter-spacing: 3px;
  text-align: center;
}
.grade, .final_project {
  margin-top: 10px;
}