$limegreen: #7EB43C;
$leavesgreen :#36A14F;
$trunkbrown: #5C3F1F;
$suspiciousyello: #C28F47;
$notexactlyblack:#140817;
$creamwhite: #fffdd0;
$pastelyellow: #FFEF99;
$pastelblue: #98C5DC;



//sea aesthetic
$fundarkblue: #0099ff;
$sailorblue: #a2d9ff;
$seagulwhite: #f3f4f5;
